body {
	font-size: 10px;
}

.menu {
	padding: 5px;
	float: left;
}

.menu-element {
	margin: 5px;
	float: left;
}

.ui-selectmenu-button {
	width: 150px !important;
}

.chart-span {
	float: left;
	margin: 15px;
}

.chart-legend {
	float: left;
	font-size: 14px;
	margin: 15px;
	font-size: 14px;
}

.chart-legend ul {
	list-style-type: none;
}

.chart-legend li span {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 5px;
}